In [1]:
from sklearn import datasets
import pydotplus
from sklearn import tree

ModuleNotFoundError: No module named 'pydotplus'

In [10]:
iris = datasets.load_iris()
clf = tree.DecisionTreeClassifier()

In [17]:
clf.fit(iris.data, iris.target)
dot_data = tree.export_graphviz(clf, out_file = None, 
                               feature_names=iris.feature_names,
                               class_names= iris.target_names)
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_pdf("iris.pdf")

True

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn import preprocessing
data = preprocessing.scale(iris.data)
clf = LinearRegression()
selector = RFE(clf, 2, step=1)
selector = selector.fit(data, iris.target)
selector.ranking_

array([2, 3, 1, 1])

In [ ]:
from sklearn import naive_bayes
gnb = naive_bayes.GaussianNB()

gnb.fit(iris.data, iris.target)
y_pred = gnb.predict(iris.data)
from sklearn.metrics import confusion_matrix
print(confusion_matrix(iris.target, y_pred))

In [23]:
mnb = naive_bayes.MultinomialNB()

In [24]:
import quandl

In [27]:
df = quandl.get('WIKI/GOOGL')

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [38]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

In [48]:
df[(df['Ex-Dividend'] != 0.0)]

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2014-04-03,573.39,588.3,566.01,571.5,4018300.0,567.971668,1.0,573.39,588.3,566.01,571.5,4018300.0

In [52]:
df['2014-04-01':'2014-04-10']

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2014-04-01,1120.27,1137.5000,1118.000,1134.89,2181000.0,0.000000,1.0,561.869437,570.511113,560.730923,569.202072,2181000.0
2014-04-02,1141.90,1144.8000,1124.000,1135.10,4168000.0,0.000000,1.0,572.717925,574.172415,563.740212,569.307397,4168000.0
2014-04-03,573.39,588.3000,566.010,571.50,4018300.0,567.971668,1.0,573.390000,588.300000,566.010000,571.500000,4018300.0
2014-04-04,578.55,579.7173,544.494,545.25,5363700.0,0.000000,1.0,578.550000,579.717300,544.494000,545.250000,5363700.0
2014-04-07,544.79,549.8500,530.530,540.63,3961600.0,0.000000,1.0,544.790000,549.850000,530.530000,540.630000,3961600.0
2014-04-08,545.05,559.8800,544.700,557.51,3482500.0,0.000000,1.0,545.050000,559.880000,544.700000,557.510000,3482500.0
2014-04-09,565.84,567.8000,555.380,567.04,3031600.0,0.000000,1.0,565.840000,567.800000,555.380000,567.040000,3031600.0
2014-04-10,568.00,568.2100,545.500,546.69,3294500.0,0.000000,1.0,568.000000,568.210000,545.500000,546.690000,3294500.0